/RivonHouse.Business/bin/Debug/netcoreapp2.0/RivonHouse.Business.deps.json
/RivonHouse.Business/bin/Debug/netcoreapp2.0/RivonHouse.Business.dll
/RivonHouse.Business/bin/Debug/netcoreapp2.0/RivonHouse.Business.pdb
/RivonHouse.Business/bin/Debug/netcoreapp2.0/RivonHouse.Common.dll
/RivonHouse.Business/bin/Debug/netcoreapp2.0/RivonHouse.Common.pdb
/RivonHouse.Business/bin/Debug/netcoreapp2.0/RivonHouse.Data.dll
/RivonHouse.Business/bin/Debug/netcoreapp2.0/RivonHouse.Data.pdb
/RivonHouse.Business/bin/Debug/netcoreapp2.0/RivonHouse.Infrastructure.dll
/RivonHouse.Business/bin/Debug/netcoreapp2.0/RivonHouse.Infrastructure.pdb
/RivonHouse.Business/bin/Release/netcoreapp2.0/RivonHouse.Business.deps.json
/RivonHouse.Business/bin/Release/netcoreapp2.0/RivonHouse.Business.dll
/RivonHouse.Business/bin/Release/netcoreapp2.0/RivonHouse.Business.pdb
/RivonHouse.Business/bin/Release/netcoreapp2.0/RivonHouse.Common.dll
/RivonHouse.Business/bin/Release/netcoreapp2.0/RivonHouse.Common.pdb
/RivonHouse.Business/bin/Release/netcoreapp2.0/RivonHouse.Data.dll
/RivonHouse.Business/bin/Release/netcoreapp2.0/RivonHouse.Data.pdb
/RivonHouse.Business/bin/Release/netcoreapp2.0/RivonHouse.Infrastructure.dll
/RivonHouse.Business/bin/Release/netcoreapp2.0/RivonHouse.Infrastructure.pdb
/RivonHouse.Business/obj/Debug/netcoreapp2.0/RivonHouse.Business.AssemblyInfo.cs
/RivonHouse.Business/obj/Debug/netcoreapp2.0/RivonHouse.Business.AssemblyInfoInputs.cache
/RivonHouse.Business/obj/Debug/netcoreapp2.0/RivonHouse.Business.csproj.CopyComplete
/RivonHouse.Business/obj/Debug/netcoreapp2.0/RivonHouse.Business.csproj.CoreCompileInputs.cache
/RivonHouse.Business/obj/Debug/netcoreapp2.0/RivonHouse.Business.csproj.FileListAbsolute.txt
/RivonHouse.Business/obj/Debug/netcoreapp2.0/RivonHouse.Business.csprojResolveAssemblyReference.cache
/RivonHouse.Business/obj/Debug/netcoreapp2.0/RivonHouse.Business.dll
/RivonHouse.Business/obj/Debug/netcoreapp2.0/RivonHouse.Business.pdb
/RivonHouse.Business/obj/Release/netcoreapp2.0/RivonHouse.Business.AssemblyInfo.cs
/RivonHouse.Business/obj/Release/netcoreapp2.0/RivonHouse.Business.AssemblyInfoInputs.cache
/RivonHouse.Business/obj/Release/netcoreapp2.0/RivonHouse.Business.csproj.CopyComplete
/RivonHouse.Business/obj/Release/netcoreapp2.0/RivonHouse.Business.csproj.CoreCompileInputs.cache
/RivonHouse.Business/obj/Release/netcoreapp2.0/RivonHouse.Business.csproj.FileListAbsolute.txt
/RivonHouse.Business/obj/Release/netcoreapp2.0/RivonHouse.Business.csprojResolveAssemblyReference.cache
/RivonHouse.Business/obj/Release/netcoreapp2.0/RivonHouse.Business.dll
/RivonHouse.Business/obj/Release/netcoreapp2.0/RivonHouse.Business.pdb
/RivonHouse.Business/obj/RivonHouse.Business.csproj.nuget.cache
/RivonHouse.Business/obj/RivonHouse.Business.csproj.nuget.g.props
/RivonHouse.Business/obj/RivonHouse.Business.csproj.nuget.g.targets
/RivonHouse.Business/obj/project.assets.json
/RivonHouse.Common/bin/Debug/netcoreapp2.0/RivonHouse.Common.deps.json
/RivonHouse.Common/bin/Debug/netcoreapp2.0/RivonHouse.Common.dll
/RivonHouse.Common/bin/Debug/netcoreapp2.0/RivonHouse.Common.pdb
/RivonHouse.Common/bin/Release/netcoreapp2.0/RivonHouse.Common.deps.json
/RivonHouse.Common/bin/Release/netcoreapp2.0/RivonHouse.Common.dll
/RivonHouse.Common/bin/Release/netcoreapp2.0/RivonHouse.Common.pdb
/RivonHouse.Common/obj/Debug/netcoreapp1.1/CoreCompileInputs.cache
/RivonHouse.Common/obj/Debug/netcoreapp1.1/RivonHouse.Common.AssemblyInfo.cs
/RivonHouse.Common/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/RivonHouse.Common/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/RivonHouse.Common/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/RivonHouse.Common/obj/Debug/netcoreapp2.0/RivonHouse.Common.AssemblyInfo.cs
/RivonHouse.Common/obj/Debug/netcoreapp2.0/RivonHouse.Common.AssemblyInfoInputs.cache
/RivonHouse.Common/obj/Debug/netcoreapp2.0/RivonHouse.Common.csproj.CoreCompileInputs.cache
/RivonHouse.Common/obj/Debug/netcoreapp2.0/RivonHouse.Common.csproj.FileListAbsolute.txt
/RivonHouse.Common/obj/Debug/netcoreapp2.0/RivonHouse.Common.dll
/RivonHouse.Common/obj/Debug/netcoreapp2.0/RivonHouse.Common.pdb
/RivonHouse.Common/obj/Release/netcoreapp2.0/RivonHouse.Common.AssemblyInfo.cs
/RivonHouse.Common/obj/Release/netcoreapp2.0/RivonHouse.Common.AssemblyInfoInputs.cache
/RivonHouse.Common/obj/Release/netcoreapp2.0/RivonHouse.Common.csproj.CoreCompileInputs.cache
/RivonHouse.Common/obj/Release/netcoreapp2.0/RivonHouse.Common.csproj.FileListAbsolute.txt
/RivonHouse.Common/obj/Release/netcoreapp2.0/RivonHouse.Common.csprojResolveAssemblyReference.cache
/RivonHouse.Common/obj/Release/netcoreapp2.0/RivonHouse.Common.dll
/RivonHouse.Common/obj/Release/netcoreapp2.0/RivonHouse.Common.pdb
/RivonHouse.Common/obj/RivonHouse.Common.csproj.nuget.cache
/RivonHouse.Common/obj/RivonHouse.Common.csproj.nuget.g.props
/RivonHouse.Common/obj/RivonHouse.Common.csproj.nuget.g.targets
/RivonHouse.Common/obj/project.assets.json
/RivonHouse.Data/bin/Debug/netcoreapp2.0/RivonHouse.Common.dll
/RivonHouse.Data/bin/Debug/netcoreapp2.0/RivonHouse.Common.pdb
/RivonHouse.Data/bin/Debug/netcoreapp2.0/RivonHouse.Data.deps.json
/RivonHouse.Data/bin/Debug/netcoreapp2.0/RivonHouse.Data.dll
/RivonHouse.Data/bin/Debug/netcoreapp2.0/RivonHouse.Data.pdb
/RivonHouse.Data/bin/Debug/netcoreapp2.0/RivonHouse.Infrastructure.dll
/RivonHouse.Data/bin/Debug/netcoreapp2.0/RivonHouse.Infrastructure.pdb
/RivonHouse.Data/obj/Debug/netcoreapp2.0/RivonHouse.Data.AssemblyInfo.cs
/RivonHouse.Data/obj/Debug/netcoreapp2.0/RivonHouse.Data.AssemblyInfoInputs.cache
/RivonHouse.Data/obj/Debug/netcoreapp2.0/RivonHouse.Data.csproj.CopyComplete
/RivonHouse.Data/obj/Debug/netcoreapp2.0/RivonHouse.Data.csproj.CoreCompileInputs.cache
/RivonHouse.Data/obj/Debug/netcoreapp2.0/RivonHouse.Data.csproj.FileListAbsolute.txt
/RivonHouse.Data/obj/Debug/netcoreapp2.0/RivonHouse.Data.csprojResolveAssemblyReference.cache
/RivonHouse.Data/obj/Debug/netcoreapp2.0/RivonHouse.Data.dll
/RivonHouse.Data/obj/Debug/netcoreapp2.0/RivonHouse.Data.pdb
/RivonHouse.Data/obj/RivonHouse.Data.csproj.nuget.cache
/RivonHouse.Data/obj/RivonHouse.Data.csproj.nuget.g.props
/RivonHouse.Data/obj/RivonHouse.Data.csproj.nuget.g.targets
/RivonHouse.Data/obj/project.assets.json
/RivonHouse.Infrastructure/bin/Debug/netcoreapp2.0/RivonHouse.Infrastructure.deps.json
/RivonHouse.Infrastructure/bin/Debug/netcoreapp2.0/RivonHouse.Infrastructure.dll
/RivonHouse.Infrastructure/bin/Debug/netcoreapp2.0/RivonHouse.Infrastructure.pdb
/RivonHouse.Infrastructure/bin/Release/netcoreapp2.0/RivonHouse.Infrastructure.deps.json
/RivonHouse.Infrastructure/bin/Release/netcoreapp2.0/RivonHouse.Infrastructure.dll
/RivonHouse.Infrastructure/bin/Release/netcoreapp2.0/RivonHouse.Infrastructure.pdb
/RivonHouse.Infrastructure/obj/Debug/netcoreapp2.0/RivonHouse.Infrastructure.AssemblyInfo.cs
/RivonHouse.Infrastructure/obj/Debug/netcoreapp2.0/RivonHouse.Infrastructure.AssemblyInfoInputs.cache
/RivonHouse.Infrastructure/obj/Debug/netcoreapp2.0/RivonHouse.Infrastructure.csproj.CoreCompileInputs.cache
/RivonHouse.Infrastructure/obj/Debug/netcoreapp2.0/RivonHouse.Infrastructure.csproj.FileListAbsolute.txt
/RivonHouse.Infrastructure/obj/Debug/netcoreapp2.0/RivonHouse.Infrastructure.csprojResolveAssemblyReference.cache
/RivonHouse.Infrastructure/obj/Debug/netcoreapp2.0/RivonHouse.Infrastructure.dll
/RivonHouse.Infrastructure/obj/Debug/netcoreapp2.0/RivonHouse.Infrastructure.pdb
/RivonHouse.Infrastructure/obj/Release/netcoreapp2.0/RivonHouse.Infrastructure.AssemblyInfo.cs
/RivonHouse.Infrastructure/obj/Release/netcoreapp2.0/RivonHouse.Infrastructure.AssemblyInfoInputs.cache
/RivonHouse.Infrastructure/obj/Release/netcoreapp2.0/RivonHouse.Infrastructure.csproj.CoreCompileInputs.cache
/RivonHouse.Infrastructure/obj/Release/netcoreapp2.0/RivonHouse.Infrastructure.csproj.FileListAbsolute.txt
/RivonHouse.Infrastructure/obj/Release/netcoreapp2.0/RivonHouse.Infrastructure.dll
/RivonHouse.Infrastructure/obj/Release/netcoreapp2.0/RivonHouse.Infrastructure.pdb
/RivonHouse.Infrastructure/obj/RivonHouse.Infrastructure.csproj.nuget.cache
/RivonHouse.Infrastructure/obj/RivonHouse.Infrastructure.csproj.nuget.g.props
/RivonHouse.Infrastructure/obj/RivonHouse.Infrastructure.csproj.nuget.g.targets
/RivonHouse.Infrastructure/obj/project.assets.json
/RivonHouse.Common/obj/Debug/netcoreapp2.0/RivonHouse.Common.csprojResolveAssemblyReference.cache
